{% extends "base.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% block title %}Add{% endblock %}

{% block body %}
  <main>
    <section class="hero-section d-flex justify-content-center">
      <div class="container">
        <div class="row mt-5">
            <form class="custom-form" role="form" method="post"> {% csrf_token %}
              <h2 class="hero-title text-center text-info mb-4 pb-2"> تحلیل جدید </h2>

              <div class="row">
                <div class="col-lg-12 col-12">
                  <div class="form-floating p-0">
                    <input type="text" name="title" id="title" class="form-control" placeholder="موضوع" required="">

                    <label for="title">عنوان</label>
                  </div>

                </div>
                
                <div class="col-lg-12 col-12">
                  <div class="form-floating p-0">
                    <input type="text" name="summary" id="summary" class="form-control" placeholder="خلاصه" required="">

                    <label for="summary">خلاصه</label>
                  </div>

                </div>

                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-floating">
                    {{ form.target_market }}
                    <label for="target_market">بازار هدف</label>
                  </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-floating mb-4 p-0">
                    <input type="token" name="token" id="token" class="form-control" placeholder="Token" required="">
                    
                    <label for="token">نام سهم/ ارز</label>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-floating mb-4 p-0">
                    {{ form.investment_period }}
                    <label for="investment_period">دوره سرمایه گذاری</label>
                  </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-floating mb-4 p-0">
                    {{ form.direction }}
                    <label for="direction">موقعیت</label>
                  </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12 text-center">
                  <label class="fw-bold" for="fundamental_analysis" style="color: white;">تاریخ انقضا تحلیل</label>
                  <div class="form-floating mb-4 p-0">
                    {{ form.goal_datetime }}
                  </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12 text-center">
                  <label class="fw-bold" for="fundamental_analysis" style="color: white;">حد سود</label>
                  <div class="form-floating mb-4 p-0">
                    {{ form.profit_limit }}
                  </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12 text-center">
                  <label class="fw-bold" for="fundamental_analysis" style="color: white;">حد ضرر</label>
                  <div class="form-floating mb-4 p-0">
                    {{ form.loss_limit }}
                  </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12 text-center">
                  <label class="fw-bold" for="fundamental_analysis" style="color: white;">نقطه ورود</label>
                  <div class="form-floating mb-4 p-0">
                    {{ form.entry_point }}
                  </div>
                </div>

                <!-- for RichTextEditor(ckEditor) -->
                {{ form.media }}
                <!-- ---------------------------- -->
                
                <div class="col-lg-12 col-md-12 col-12 text-center">
                  <label class="fw-bold" for="fundamental_analysis" style="color: white;">تحلیل فاندامنتال</label>
                  <div class="form-floating mb-4 p-0">
                    {{ form.fundamental_analysis }}
                  </div>
                </div>

                <div class="col-lg-12 col-md-12 col-12 text-center">
                  <label class="fw-bold" for="technical_analysis" style="color: white;">تحلیل تکنیکال</label>
                  <div class="form-floating mb-4 p-0">
                    {{ form.technical_analysis }}
                  </div>
                </div>

                <div class="col-lg-12 col-md-12 col-12 text-center">
                  <label class="fw-bold" for="price_action_analysis" style="color: white;">تحلیل Price-Action</label>
                  <div class="form-floating mb-4 p-0">
                    {{ form.price_action_analysis }}
                  </div>
                </div>

                <div class="col-lg-8 col-md-8 col-12" style="display: block; margin: auto;">
                  <div class="form-floating mb-4 py-0">
                    {{ form.pa_time_frame }}
                    <label for="pa_time_frame">تایم فریم</label>
                  </div>
                </div>

                <div class="col-lg-12 col-md-12 col-12 text-center">
                  <label class="fw-bold" for="hints" style="color: white;">نکات</label>
                  <div class="form-floating mb-4 p-0">
                    {{ form.hints }}
                  </div>
                </div>

                <div class="bg-black rounded-3">
                  {{ form.errors }}
                </div>

                <div class="form-check mb-4 ps-5 col-lg-12 col-md-12 col-12 text-center">
                  <label class="form-check-label fw-bold text-light" for="agreeCheckbox2">
                    من با شرایط خدمات و قوانین سایت موافقم
                    <input class="form-check-input border-1 border-dark-subtle text-start" type="checkbox" value="" id="agreeCheckbox2">
                  </label>
                </div>

                <div class="row justify-content-center align-items-center">
                  <div class="col-lg-3 col-md-3 col-6 mx-auto">
                    <button type="submit" class="form-control">ثبت تحلیل</button>
                  </div>
                  <div class="col-lg-3 col-md-3 col-6 mx-auto">
                    <p class="mb-0 text-center"><a href="{% url 'core:home' %}" class="ms-2">بازگشت به صفحه اصلی</a></p>
                  </div>
                </div>
                
              </div>
            </form>
              
        </div>
      </div>
    </section>
  </main>
{% endblock %}

{% block js %}
  <script>
    function validateForm() {
      var agreeCheckbox2 = document.getElementById("agreeCheckbox2");
      if (!agreeCheckbox2.checked) {
        alert("You must agree to the Terms of Service and Privacy Policy before submitting.");
        return false;
      }
    }
  </script>
{% endblock %}
