{% extends "base.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% block title %}Add{% endblock %}

{% block body %}
    <br class="mt-5">
    <br class="mt-5">
    <br class="mt-5">
    <br class="mt-5">
    <br class="mt-5">
    <br class="mt-5">
    <form method="post"> {% csrf_token %}
        {{ form.as_p }}
        <div class="col-lg-3 col-md-3 col-6 me-auto">
            <button type="submit" class="form-control">Submit</button>
        </div>
    </form>
{% endblock %}

{% block js %}
{% endblock %}
