{% extends "base.html" %}
{% load static %}

{% block header_setting %}
{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}
  <main>
    <br class="my-5">
    <br class="my-5">
    <br class="my-5">
    <section class="hero-section d-flex justify-content-center align-items-center mt-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-12 mx-auto">
            <form class="custom-form login-form" role="form" method="post" onsubmit="return validateForm()"> {% csrf_token %}
              <h2 class="hero-title text-center text-info mb-4 pb-2">ورود</h2>
              
              <div class="form-floating mb-4 p-0">
                <input style="padding-right: 25px;" type="username" name="username" id="username" class="form-control" placeholder="Username" required="">
                <label for="username">نام کاربری</label>
              </div>

              <div class="form-floating p-0">
                <input style="padding-right: 25px;" type="password" name="password" id="password" class="form-control" placeholder="Password" required="">
                <label for="password">رمز عبور</label>
              </div>
              
              <div class="bg-black rounded-3">
                {{ form.errors }}
              </div>

              <!-- <div class="form-check mb-4 ps-5">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              
                <label class="form-check-label" for="flexCheckDefault">
                  منو به خاطر بسپار
                </label>

                <span class="ps-5 ms-5">
                  <a class="fw-bold" href=""> ورود با کد یکبار مصرف </a>
                </span>
              </div> -->

              <div class="row justify-content-center align-items-center">
                <div class="col-lg-5 col-12">
                  <button type="submit" class="form-control">ورود به حساب</button>
                </div>

                <div class="col-lg-5 col-12">
                  <a href="{% url 'users:signup' %}" class="btn custom-btn custom-border-btn">حساب ندارم!</a>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </section>

  </main>
  {% endblock %}

{% block js %}
{% endblock %}
