{% extends "base.html" %}
{% load static %}

{% block header_setting %}
{% endblock %}

{% block title %}Signup{% endblock %}

{% block background %}
<body style="background: url('/static/core/pics/black_modern_wall.jpg') no-repeat fixed; background-size: 100% 100%;">
{% endblock %}

{% block body %}
  <main>
    <br class="my-5">
    <br class="my-5">
    <br class="my-5">
    <section class="hero-section d-flex justify-content-center align-items-center mt-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 mx-auto">
            <form class="custom-form" role="form" method="post" onsubmit="return validateForm()" novalidate> {% csrf_token %}
              <h2 class="hero-title text-center text-info mb-4 pb-2"> ثبت نام </h2>

              <div class="row">
                <div class="col-lg-12 col-12">
                  <div class="form-floating p-0">
                    <input style="padding-right: 25px;" type="text" name="username" id="username" class="form-control" placeholder="Username" required="">

                    <label for="username">نام کاربری</label>
                  </div>
                </div>
                
                <div class="col-lg-8 col-12">
                  <div class="form-floating p-0">
                    <input style="padding-right: 25px;" type="text" name="phone_number" id="phone_number" class="form-control" placeholder="933530****" required="">

                    <label for="phone_number">تلفن همراه</label>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                  <div class="form-floating mb-4 p-0">
                    {{ form.country }}
                    <label for="country">کشور</label>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-floating">
                    <input style="padding-right: 25px;" type="password" name="password1" id="password1" class="form-control" placeholder="Password" required="">
                    
                    <label for="password1">رمز عبور</label>
                  </div>
                </div>
                
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-floating mb-4 p-0">
                    <input style="padding-right: 25px;" type="password" name="password2" id="password2" class="form-control" placeholder="Check Password" required="">
                    
                    <label for="password2">بررسی رمز عبور</label>
                  </div>
                </div>
                
                <div class="bg-black rounded-3">
                  {{ form.errors }}
                </div>

                <div class="form-check mt-3 mb-4 ps-5 col-lg-12 col-md-12 col-12 text-center">
                  <label class="form-check-label fw-bold text-light" for="agreeCheckbox">
                    من با شرایط خدمات و سیاست حفظ حریم خصوصی موافقم.
                    <input class="form-check-input border-2 border-dark-subtle" type="checkbox" value="" id="agreeCheckbox">
                  </label>
                </div>

                <div class="row justify-content-center align-items-center">
                  <div class="col-lg-5 col-md-5 col-5 ms-4 me-3">
                    <button type="submit" class="form-control">ثبت</button>
                  </div>

                  <div class="col-lg-4 col-md-4 col-5">
                    <p class="mb-0">آیا حساب دارید؟ <a href="{% url 'users:login' %}" class="ms-2">ورود</a></p>
                  </div>
                </div>
              </div>
            </form>
              
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}

{% block js %}
  <script>
    function validateForm() {
      var agreeCheckbox = document.getElementById("agreeCheckbox");
      if (!agreeCheckbox.checked) {
        alert("You must agree to the Terms of Service and Privacy Policy before submitting.");
        return false;
      }
    }
  </script>
{% endblock %}
